In [1]:
import pandas as pd

In [44]:
# cblist = pd.read_json('https://www.jisilu.cn/data/cbnew/cb_list/')
# cblist = pd.read_json(r'..\data\raw\cblist.json')
cblist = pd.read_json(r'data/raw/cblist.json')

In [42]:
cblist.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>page</th>
      <th>rows</th>
      <th>total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>{'id': '127008', 'cell': {'bond_id': '127008',...</td>
      <td>115</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>{'id': '110044', 'cell': {'bond_id': '110044',...</td>
      <td>115</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>{'id': '123012', 'cell': {'bond_id': '123012',...</td>
      <td>115</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>{'id': '128039', 'cell': {'bond_id': '128039',...</td>
      <td>115</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>{'id': '113519', 'cell': {'bond_id': '113519',...</td>
      <td>115</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
recorder = cblist.loc[1]['rows']

In [19]:
recorder['cell']['stock_id']

'sh600831'

In [24]:
cb_dict = cblist.to_dict(orient='list')

In [25]:
cb_dict.keys()

dict_keys(['page', 'rows', 'total'])

In [33]:
cb_dict['rows'][0:1]

[{'cell': {'active_fl': 'y',
   'adj_cnt': 0,
   'adj_scnt': 0,
   'adjust_tc': '鍦ㄦ湰娆″彂琛岀殑鍙�杞�鍊哄瓨缁�鏈熼棿锛屽綋鍏�鍙� A 鑲¤偂绁ㄥ湪浠绘剰杩炵画浜屽崄涓�浜ゆ槗鏃ヤ腑鑷冲皯鏈夊崄涓�浜ゆ槗鏃ョ殑鏀剁洏浠蜂綆浜庡綋鏈熻浆鑲′环鏍肩殑 90%鏃讹紝',
   'adjust_tip': '',
   'adq_rating': None,
   'apply_cd': '070070',
   'bond_id': '127008',
   'bond_nm': '鐗瑰彂杞�鍊�',
   'btype': 'C',
   'convert_amt_ratio': '9.3%',
   'convert_cd': '鏈�鍒拌浆鑲℃湡',
   'convert_dt': '2019-05-22',
   'convert_price': '6.780',
   'convert_value': '105.60',
   'cpn_desc': '绗�涓�骞翠负 0.40%銆佺��浜屽勾涓� 0.60%銆佺��涓夊勾涓� 1.00%銆佺��鍥涘勾涓� 1.50%銆佺��浜斿勾涓� 2.00%',
   'curr_iss_amt': '4.194',
   'force_redeem': None,
   'force_redeem_price': '8.81',
   'full_price': '100.000',
   'fund_rt': 'buy',
   'guarantor': '鏃犳媴淇�',
   'increase_rt': '0.00%',
   'issue_dt': '2018-11-16',
   'last_time': None,
   'left_put_year': '-',
   'list_dt': None,
   'market': 'sz',
   'maturity_dt': '2023-11-16',
   'next_put_dt': '2021-11-16',
   'online_offline_ratio': None,
   'orig_iss_amt': '4.194',
   'owned': 0,
   'pb': '2.11',
   'pinyin': 'tfzz',
   'pre_bond_id': 'sz127008',
   'premium_rt': '-5.31%',
   'price': '100.000',
   'price_tips': '寰呬笂甯�',
   'put_convert_price': '4.75',
   'put_convert_price_ratio': '66.28',
   'put_count_days': 30,
   'put_dt': None,
   'put_inc_cpn_fl': 'y',
   'put_notes': None,
   'put_price': '100.000',
   'put_real_days': 0,
   'put_tc': '鏈�娆″彂琛岀殑鍙�杞�鍊烘渶鍚庝袱涓�璁℃伅骞村害锛屽�傛灉鍏�鍙歌偂绁ㄥ湪浠讳綍杩炵画涓夊崄涓�浜ゆ槗鏃ョ殑鏀剁洏浠蜂綆浜庡綋鏈熻浆鑲′环鏍肩殑 70%鏃�',
   'put_total_days': 30,
   'qflag': 'N',
   'qflag2': 'N',
   'rating_cd': 'AA',
   'ration': '0.6689',
   'ration_cd': '080070',
   'ration_rt': '45.920',
   'real_force_redeem_price': None,
   'redeem_count_days': 15,
   'redeem_dt': None,
   'redeem_inc_cpn_fl': 'n',
   'redeem_price': '108.000',
   'redeem_price_ratio': '130.000',
   'redeem_real_days': 0,
   'redeem_tc': '鍦ㄦ湰娆″彂琛岀殑鍙�杞�鍊鸿浆鑲℃湡鍐咃紝濡傛灉鍏�鍙� A 鑲¤偂绁ㄨ繛缁�涓夊崄涓�浜ゆ槗鏃ヤ腑鑷冲皯鏈夊崄浜斾釜浜ゆ槗鏃ョ殑鏀剁洏浠蜂笉浣庝簬褰撴湡杞�鑲′环鏍肩殑 130%锛堝惈锛�',
   'redeem_total_days': 30,
   'ref_yield_info': '',
   'repo_cd': None,
   'repo_discount_rt': '0.00',
   'repo_valid': '鏈夋晥鏈燂細-',
   'repo_valid_from': None,
   'repo_valid_to': None,
   'short_maturity_dt': '23-11-16',
   'sincrease_rt': '-4.66%',
   'sprice': '7.16',
   'sqflg': 'Y',
   'stock_amt': '62699.4700',
   'stock_cd': '000070',
   'stock_id': 'sz000070',
   'stock_net_value': '3.39',
   'stock_nm': '鐗瑰彂淇℃伅',
   'svolume': '8522.94',
   'total_shares': '626994746.0',
   'volume': '0.00',
   'year_left': '4.967',
   'ytm_rt': '2.25%',
   'ytm_rt_tax': '1.81%'},
  'id': '127008'}]